<div class="panel-group" id="accordionUser" role="tablist" aria-multiselectable="true">
  <% if user_signed_in? %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionUser" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <%= User.find(current_user.id).username.upcase %>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div class="user-panel-entry">
            Entries created:<span class="pull-right"><%= @user_created_entries.count %></span>
          </div>
          <div class="user-panel-entry">
            Entries approved:<span class="pull-right"><%= @user_approved_entries.count %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordionUser" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          COMMENTS
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Some comments
      </div>
    </div>
  </div>
</div>
