<% if !flash[:error].nil? %>
  <% if !flash.empty? %>
    <% flash.each do |key, value| %>
      <% if value.class == String %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% else %>
        <% Array.new(value).each do |elem| %>
            <div id="flash_message" class="alert alert-danger">
              <%= elem %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>