<div class="col-md-4">
  <h1><%= link_to "showmethebest.xyz", root_path, id: "smtb-logo" %></h1>
</div>
<div class="col-md-8">
  <span class="menu-buttons pull-right">
    <% if user_signed_in? %>
      <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "LOGIN", "#login", class: "btn btn-primary", data: { toggle: "modal" } %>
      <%= link_to "SIGN UP", "#sign_up", class: "btn btn-primary", data: { toggle: "modal" } %>
    <% end %>
  </span>
</div>